h1,
h2,
h3,
h4 {
  color: #2d4263;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #c84b31;
  border-width: 20px;
  width: 25%;
}

body {
  font-family: Garamond, serif;
}

img {
  max-height: 80%;
  max-width: 80%;
}

.gray-background {
    background-color: #F2F2F2;
}