h1,
h2,
h3 {
  color: #2d4263;
}

h4 {
  color: #fdf6ec;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #c84b31;
  border-width: 20px;
  width: 25%;
}

body {
  font-family: Garamond, serif;
}

img {
  max-height: 80%;
  max-width: 80%;
}

.gray-background {
  background-color: #f2f2f2;
}

.navy-background {
  background-color: #2d4263;
}
